.custom-swiper {
    height: 200px;
  
    img {
      width: 90%;
      border-radius: 10px;
      object-fit: cover;
      display: block;
      margin: 0 auto;
    }
  }

  .category-name {
    top: -15px;
    position: absolute;
    color: black;
    font-weight: 900;
    font-size: 20px;
    display: flex;
    justify-content: center;
    width: 100%;        
}

.button-add {
    width: 100%;
}

ion-title {
    background-color: #151f57;
    text-align: center;
}

ion-label {
    background-color: #151f57;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    height: auto;
    white-space: normal;
    word-wrap: break-word;
    overflow-wrap: break-word;
    padding: 10px;
}

ion-toolbar {
    --background: #151f57;
}

.selected {
    background-color: #d4edda;
    border: 1px solid #a4d7a1;
    color: #155724;
    border-radius: 8px;
    padding: 10px;
  }

  .price {
    font-weight: 600;
    text-align: end;
    font-size: 20px;
  }

  .title-selected {
    color: black;
  }