<ion-header>
  <ion-toolbar>
    <ion-title style="text-align: center;">Tu carrito</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ng-container *ngIf="(items$| async) as products">

    <ng-container *ngIf="products.length > 0; else empty">
      <ion-card>
        <ion-card-header>
          <!-- <ion-card-title>
            Carrito
          </ion-card-title> -->
          <ion-card-subtitle>
            Estos son tus productos seleccionados
          </ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          <ion-list>
            <ion-item
            class="cart-product"
            *ngFor="let product of products; let index = index"
            lines="none"
            >
            <ion-thumbnail slot="start">
              <img
              alt="{{product.name}}"
              src="https://ionicframework.com/docs/img/demos/thumbnail.svg"
              />
            </ion-thumbnail>
            <div class="cart-product-info">
              <ion-label>
                <h2>
                  {{ product.name }}
                </h2>
                <p>
                  Total: $ {{product.quantity * product.price}}
                </p>
              </ion-label>
              <ion-buttons slot="end">
                <ion-button shape="round" (click)="updateQuantity(index,product.quantity - 1)"><ion-icon slot="icon-only" name="remove"></ion-icon></ion-button>
                <ion-badge>
                  {{ product.quantity }}
                </ion-badge>
                <ion-button shape="round" (click)="updateQuantity(index,product.quantity + 1)"><ion-icon slot="icon-only" name="add"></ion-icon></ion-button>
              </ion-buttons>
            </div>
          </ion-item>

        </ion-list>
      </ion-card-content>
      <ion-button
        *ngIf="items$"
        expand="full" color="danger" (click)="clearCart()">
        Vaciar carrito
      </ion-button>
    </ion-card>
    <ion-button
      expand="full"
      >
        Checkout
    </ion-button>
  </ng-container>
  <ng-template #empty>
    <div class="ion-padding ion-text-center">
      <h2>Tu Carrito está vacio</h2>
      <p> Agrega productos desde la tienda.</p>
    </div>
  </ng-template>
</ng-container>

</ion-content>
